<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Login</title>
</head>
<body class="img_background">
    {% include 'base/header.html' %}
    <main>
        <br>
        <div class="container">
            <div class="row row-cols-md-4 justify-content-center">
                <h2>Iniciar Sesión</h2>
            </div>
            <br>
            <center>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">Correo</label>
                        {{ form.username }}
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="id_password">Contraseña</label>
                        {{ form.password }}
                    </div>
                </form>
                <br>
                <br>
            </center>
        </div>
        <br>
        <br>
        <div class="row row-cols-md-4 justify-content-center">
            <div class="row row-cols-md-4">
                <a href="{% url "registro" %}">
                    <button class="btn btn-light">
                        Registrarse
                    </button>
                </a>
            </div>
            <div class="col-2">
                <div class="row-6">
                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </main>
    {% include 'base/footer.html' %}
    <script src="{% static 'js/funcion.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>