<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Mascotas</title>
</head>
    <body class="img_background">
        {% include 'base/header.html' %}
        <br>
        <div class="container">
            <select class="form-select" id="viewSelector" aria-label="Default select example">
                <option value="{% url "mascotas" %}">Todos</option>
                <option value="{% url "perros" %}">Perros</option>
                <option selected>Gatos</option>
            </select>
        </div>
        <br>
    {% comment %} TODO: cartas animales {% endcomment %}
        
        {% include 'base/modalMascotas.html' %}

        
        {% include 'base/footer.html' %}
        <script src="{% static 'js/funcion.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>