<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Higiene</title>
</head>

<body class="img_background">
    {% include 'base/header.html' %}
    <main>
        <br>
        <div class="container">
            <select class="form-select" id="viewSelector1" aria-label="Default select example" onchange="cambiarProductos()">
                <option selected>Filtrar por producto</option>
                <option value="{% url "productos" %}">Todos</option>
                <option value="{% url "accesorios" %}">Accesorios</option>
                <option value="{% url "alimentos" %}">Alimentación</option>
                <option selectes>Higiene</option>
            </select>
        </div>
        <br>
{% comment %} todo: productos {% endcomment %}
        <div id="margenC" class="row row-cols-1 row-cols-md-2 g-4">
            <!-- *Producto 1 -->
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                        <img src="../static/img/Productos/Higiene/AlfrombraGato.jpg" class="img-fluid rounded-start" alt="100">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Alfombra para arenero</h5>
                                <p class="card-text">Una solución práctica para mantener la limpieza alrededor del arenero de tu gato, 
                                    capturando eficazmente la arena y los residuos con su diseño texturizado y fácil de limpiar.</p>
                                <p class="card-text"><small class="text-body">$25.000</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- *Producto 2 -->
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                        <img src="../static/img/Productos/Higiene/Bolsas.jpg" class="img-fluid rounded-start" alt="100">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Set recoge deshechos</h5>
                                <p class="card-text">Conjunto de herramientas ergonómicas para limpiar los desechos de mascotas de manera rápida y eficiente. 
                                    Ideal para mantener la higiene en interiores y exteriores.</p>
                                <p class="card-text"><small class="text-body">$5.000</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- *Producto 3 -->
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                        <img src="../static/img/Productos/Higiene/Cajadearena.jpg" class="img-fluid rounded-start" alt="100">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Caja de arena</h5>
                                <p class="card-text">
                                    La caja de arena para gatos es un recipiente plástico diseñado para facilitar 
                                    sus necesidades dentro del hogar de manera higiénica. Viene en diferentes tamaños y 
                                    colores estándar, con medidas típicas de aproximadamente 40 cm de largo, 
                                    30 cm de ancho y 10 cm de alto. Es esencial mantenerla limpia para la salud del gato.</p>
                                <p class="card-text"><small class="text-body">$7.000</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <!-- *Producto 4 -->
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                        <img src="../static/img/Productos/Higiene/Cepillo.jpg" class="img-fluid rounded-start" alt="100">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Cepillo para pelo</h5>
                                <p class="card-text">Un cepillo para pelo de mascotas es una herramienta diseñada para cuidar 
                                    y mantener el pelaje de perros y gatos. Viene en diferentes tipos según el tipo de pelo y 
                                    ayuda a desenredar, eliminar el pelo suelto y mantener el pelaje saludable.</p>
                                <p class="card-text"><small class="text-body">$4.000</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <!-- *Producto 5 -->
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                        <img src="../static/img/Productos/Higiene/Repelente.jpg" class="img-fluid rounded-start" alt="img">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Repelente para mascotas</h5>
                                <p class="card-text">Un repelente para mascotas es un producto
                                    diseñado para disuadir a los animales de áreas específicas o comportamientos no deseados, como rascar muebles o marcar territorio,
                                    utilizando aerosoles, geles o dispositivos ultrasónicos</p>
                               <p class="card-text"><small class="text-body">$7.000</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">

                <!-- *Producto 6 -->
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                        <img src="../static/img/Productos/Higiene/Pasta.jpg" class="img-fluid rounded-start" alt="100">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Set higiene dental</h5>
                                <p class="card-text">Un set de higiene dental para mascotas incluye cepillos de dientes y 
                                    pasta dental diseñados para perros y gatos, esenciales para mantener la salud bucal, 
                                    prevenir la acumulación de placa y sarro, y promover encías sanas y aliento fresco.</p>
                                <p class="card-text"><small class="text-body">$9.000</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <!-- *Producto 7 -->
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                        <img src="../static/img/Productos/Higiene/Pañales.jpg" class="img-fluid rounded-start" alt="100">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Toallas para baño</h5>
                                <p class="card-text">
                                    Las toallas de baño son piezas de tela diseñadas para secar el cuerpo después del baño, 
                                    disponibles en varios tamaños, 
                                    colores y materiales como algodón o microfibra, garantizando absorción y suavidad.</p>
                                <p class="card-text"><small class="text-body">$10.000</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 

            <!-- *Producto 8 -->
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                        <img src="../static/img/Productos/Higiene/Removedor.jpg" class="img-fluid rounded-start" alt="100">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Removedor de pelos</h5>
                                <p class="card-text">
                                    Un removedor de pelos es un producto diseñado para eliminar 
                                    eficazmente el pelo suelto de mascotas de muebles y ropa, 
                                    utilizando rodillos adhesivos, cepillos especiales o dispositivos de limpieza.</p>
                                <p class="card-text"><small class="text-body">$10.000</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% comment %} todo: productos {% endcomment %}
    </main>
    {% include 'base/footer.html' %}
        <script src="{% static 'js/funcion.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>