<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Principal</title>
</head>

<body>
    {% include 'base/header.html' %}
    <main>
        <br>
        <br><div class="row row-cols-md-4 justify-content-center">
            <h1>APROVECHA</h1>
        </div>
        <br>
    </main>
    <script src="{% static 'js/funcion.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>