<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <title>Principal</title>
</head>

<body>
    {% include 'base/header.html' %}
    <main>
        
    </main>
    <script src="{% static 'js/funcion.js'%}"></script>
    <script src=" {% static 'js/bootstrap.bundle.min.js' %}">
</body>

</html> 