<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Principal</title>
</head>
<body class="img_background">
    {% include 'base/header.html' %}
    <main>
        <br>
        <div class="row">
            <div class="col">
                <form id="formularioReg" class="row g-3">
                    <div class="col-md-5 w-50"> <!-- *nombre -->
                        <label for="nombre" class="form-label" >Nombre</label>
                        <input type="text" class="form-control" id="nombre">
                    </div>
                    <div class="col-md-5 w-50"> <!-- **ape -->
                        <label for="ape" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="ape">
                    </div>
                    <div class="col-12"> <!-- **email -->
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="text" class="form-control" id="email" placeholder="example@gmail.com">
                    </div>
                    <div class="col-md-6"> <!-- **pass1 -->
                        <label for="pass1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="pass1">
                    </div>
                    <div class="col-md-6"> <!-- **pass2 -->
                        <label for="pass2" class="form-label">Confirmar Contraseña</label>
                        <input type="password" class="form-control" id="pass2">
                    </div>
                    
                    <div class="col-md-5"> <!-- **direccion -->
                        <label for="direccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="direccion" placeholder=  "Example #0001">
                    </div>
                    <div class="col-md-4"> <!-- **Región -->
                        <label for="region" class="form-label">Región</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected value="0">Seleccione la Región</option>
                            <option value="1">Región de Arica y Parinacota</option>
                            <option value="2">Región de Tarapacá</option>
                            <option value="3">Región de Antofagasta</option>
                            <option value="4">Región de Atacama</option>
                            <option value="5">Región de Coquimbo</option>
                            <option value="6">Región de Valparaíso</option>
                            <option value="7">Región Metropolitana</option>
                            <option value="8">Región de O'Higgins</option>
                            <option value="9">Región del Maule</option>
                            <option value="10">Región del Ñuble</option>
                            <option value="11">Región del Biobío</option>
                            <option value="12">Región de La Araucanía</option>
                            <option value="13">Región de Los Ríos</option>
                            <option value="14">Región de Los Lagos</option>
                            <option value="15">Región de Aysén</option>
                            <option value="16">Región de Magallanes</option>
                        </select>
                    </div>
                    <div class="col-md-3"> <!-- **zip -->
                        <label for="zip" class="form-label">Código postal</label>
                        <input type="text" class="form-control" id="zip" placeholder="0000000">
                    </div>
                    <div class="col-12"> <!-- **btnReg -->
                        <button type="submit" class="btn btn-dark">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
        <br>
    </main>
    {% include 'base/footer.html' %}
    <script src="{% static 'js/funcion.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>