{%load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'css/style.css'%}">

<footer>
    <nav class="navbar sticky-bottom bg-body-tertiary">
        <div class="container-fluid">
            <div id="contacto">
                <h3>
                    Contáctanos!
                </h3>
                <p>
                    WhatsApp: +56 9 54 181 130                      ||      Email: fel.quezadar@duocuc.cl
                </p>
                <p>
                    Teléfono: +56 9 73 947 364                      ||      Email: cris.lara@duocuc.cl
                </p>
            </div>
        </div>
    </nav>
</footer>