{%load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'css/style.css'%}">

<!-- TODO: Inicio modal Login -->
    	<!-- *Contenido MOdal (Login) -->
        <div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="modalLogin" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalLogin">Iniciar sesión</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="margen" class="row g-3">
                        <div class="col-12">
                            <label for="inputEmail" class="form-label">Correo Electrónico</label>
                            <input type="text" class="form-control" id="inputEmail" placeholder="example@gmail.com">
                        </div>

                        <div class="col-md-12">
                            <label for="inputPassword" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="inputPassword">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <a href="sign_in.html">
                        <button type="button" class="btn btn-primary">Registrarme</button>
                    </a>
                    <button type="button" class="btn btn-success">Ingresar</button>
                    
                </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>