{%load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'css/style.css'%}">

<!-- Modal castilloGato -->
<div class="modal fade" id="modalCastilloGato" tabindex="-1" aria-labelledby="modalCastilloGato" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalCastilloGato">Castillo de Gato</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="../static/img/Productos/Accesorios/CastilloMascota.jpg" alt="100" height="300" width="300">
            <hr>
            El Castillo de Gato es el juguete perfecto para tu felino consentido, 
            ofreciendo diversión y confort en múltiples niveles. Construido con materiales duraderos y suaves,
            proporciona un refugio seguro para jugar, descansar y afilar las garras de tu gato.
            <p id="modalText">
                <br>

            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            <a href=""> <!-- *Link al perro -->
                <button type="button" class="btn btn-primary">Not Exit</button> 
            </a>
        </div>
        </div>
    </div>
</div>

{% comment %} modalAlfombra {% endcomment %}
<div class="modal fade" id="modalAlfombraGato" tabindex="-1" aria-labelledby="modalAlfombraoGato" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalAlfombraoGato">Castillo de Gato</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="../static/img/Productos/Higiene/AlfrombraGato.jpg" alt="100" height="300" width="300">
            <hr>
            Una solución práctica para mantener la limpieza alrededor del arenero de tu gato, 
            capturando eficazmente la arena y los residuos con su diseño texturizado y fácil de limpiar.
            <p id="modalText">
                <br>

            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            <a href=""> <!-- *Link al perro -->
                <button type="button" class="btn btn-primary">Not Exit</button> 
            </a>
        </div>
        </div>
    </div>
</div>

{% comment %} modalCollarCuero {% endcomment %}
<div class="modal fade" id="modalCollarCuero" tabindex="-1" aria-labelledby="modalCollarCuero" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalCollarCuero">Castillo de Gato</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="../static/img/Productos/Accesorios/CollarCuero.jpg" alt="100" height="300" width="300">
            <hr>
            Un elegante collar para mascotas fabricado con cuero sintético, ideal para perros y gatos. 
            Combina durabilidad con un estilo clásico, ofreciendo comodidad y resistencia al desgaste.
            <p id="modalText">
                <br>

            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            <a href=""> <!-- *Link al perro -->
                <button type="button" class="btn btn-primary">Not Exit</button> 
            </a>
        </div>
        </div>
    </div>
</div>

{% comment %} modalComidaMascota {% endcomment %}
<div class="modal fade" id="modalComidaMascota" tabindex="-1" aria-labelledby="modalComidaMascota" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalComidaMascota">Castillo de Gato</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="../static/img/Productos/Alimentacion/Comida de Mascota.jpg" alt="100" height="300" width="300">
            <hr>
            Alimento completo y balanceado para perros adultos, 
            formulado por Pedigree para satisfacer las necesidades nutricionales de tu mascota.
            Enriquecido con vitaminas, minerales y proteínas de alta calidad para apoyar la salud y vitalidad de tu perro.
            <p id="modalText">
                <br>

            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            <a href=""> <!-- *Link al perro -->
                <button type="button" class="btn btn-primary">Not Exit</button> 
            </a>
        </div>
        </div>
    </div>
</div>

{% comment %} modalCorreaMascota {% endcomment %}
<div class="modal fade" id="modalCorreaMascota" tabindex="-1" aria-labelledby="modalCorreaMascota" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalCorreaMascota">Castillo de Gato</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="../static/img/Productos/Accesorios/Correa Mascota.jpg" alt="100" height="300" width="300">
            <hr>
            La correa de perro reflectante Lazer Brite® mantiene a su perro seguro 
            y fácilmente visible con material reflectante, asegurando una visibilidad 
            a la distancia.
            <p id="modalText">
                <br>

            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            <a href=""> <!-- *Link al perro -->
                <button type="button" class="btn btn-primary">Not Exit</button> 
            </a>
        </div>
        </div>
    </div>
</div>

{% comment %} modalBolsa {% endcomment %}
<div class="modal fade" id="modalBolsa" tabindex="-1" aria-labelledby="modalBolsa" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalBolsa">Castillo de Gato</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="../static/img/Productos/Higiene/Bolsas.jpg" alt="100" height="300" width="300">
            <hr>
            Conjunto de herramientas ergonómicas para limpiar los desechos de mascotas de manera rápida y eficiente. 
            Ideal para mantener la higiene en interiores y exteriores.
            a la distancia.
            <p id="modalText">
                <br>

            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            <a href=""> <!-- *Link al perro -->
                <button type="button" class="btn btn-primary">Not Exit</button> 
            </a>
        </div>
        </div>
    </div>
</div>

{% comment %} modalJugueteMascotaa {% endcomment %}
<div class="modal fade" id="modalJugueteMascotaa" tabindex="-1" aria-labelledby="modalJugueteMascotaa" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalJugueteMascotaa">Castillo de Gato</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="../static/img/Productos/Accesorios/JugeteMascota.jpg" alt="100" height="300" width="300">
            <hr>
            Está fabricado con goma resistente de alta calidad, diseñada 
            para soportar el juego más enérgico de tu mascota. No importa cuánto 
            muerda o tire, este juguete resistirá el paso del tiempo.
            <p id="modalText">
                <br>

            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            <a href=""> <!-- *Link al perro -->
                <button type="button" class="btn btn-primary">Not Exit</button> 
            </a>
        </div>
        </div>
    </div>
</div>

{% comment %} modalComidaCachorro {% endcomment %}
<div class="modal fade" id="modalComidaCachorro" tabindex="-1" aria-labelledby="modalComidaCachorro" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalComidaCachorro">Castillo de Gato</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="../static/img/Productos/Alimentacion/ComidaCachorro.jpg" alt="100" height="300" width="300">
            <hr>
            Alimento completo y equilibrado diseñado específicamente para cachorros, proporcionando los nutrientes esenciales para un crecimiento saludable y un desarrollo óptimo.
            Desarrollado por Pedigree para apoyar la salud y vitalidad desde temprana edad.
            <p id="modalText">
                <br>

            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            <a href=""> <!-- *Link al perro -->
                <button type="button" class="btn btn-primary">Not Exit</button> 
            </a>
        </div>
        </div>
    </div>
</div>

{% comment %} modalBandanaTipoA {% endcomment %}
<div class="modal fade" id="modalBandanaTipoA" tabindex="-1" aria-labelledby="modalBandanaTipoA" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalBandanaTipoA">Castillo de Gato</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="../static/img/Productos/Accesorios/Bandanastipoa.jpg" alt="100" height="300" width="300">
            <hr>
            Hermoso collar eco-cuero para perros tamaño M
            Largo ajustable (cuello): 27 a 34 centímetros.
            Para mascotas con estilo.
            <p id="modalText">
                <br>

            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            <a href=""> <!-- *Link al perro -->
                <button type="button" class="btn btn-primary">Not Exit</button> 
            </a>
        </div>
        </div>
    </div>
</div>

<script src="{% static 'js/funcion.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>