{%load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'css/style.css'%}">

<!-- TODO: Inicio Modal Perritos -->
        <!-- *Modal perro 1 -->
<div class="modal fade" id="modalPerro1" tabindex="-1" aria-labelledby="modalPerro1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalPerro1">Algodon de Azucar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="../static/img/Mascotas/Perros/AlgodonAzucar.png" alt="100" height="300" width="470">
            <hr>
            <p id="modalText">
                <li>Raza: Dachshund</li>
                <li>Sexo: Macho</li>
                <li>Estado: Sin Esterilizar</li>
                <br>
                Algodón de Azúcar es un Salchicha que destaca por su valentía, curiosidad y afecto inigualable, 
                conquistando a todos con su encanto único. Aunque su tamaño sea pequeño, su lealtad y su naturaleza
                juguetona lo convierten en un compañero ideal para cualquier familia. Además, su instinto guardián
                lo hace destacar como un protector confiable de su hogar y seres queridos. Es la combinación perfecta de valentía y afecto
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            <a href=""> <!-- *Link al perro -->
                <button type="button" class="btn btn-primary">Not Exit</button> 
            </a>
        </div>
        </div>
    </div>
</div>

<!-- *Modal perro 2 -->
<div class="modal fade" id="modalPerro2" tabindex="-1" aria-labelledby="modalPerro2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalPerro2">Max</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="../static/img/Mascotas/Perros/Francho.png" alt="100" height="300" width="470">
            <hr>
            <p>
                <li>Raza: Beagle</li>
                <li>Sexo: Macho</li>
                <li>Estado: Esterilizado</li>
                <br>
                Francho, el Beagle, es un torbellino de energía y amor. Su pasión por la exploración y el juego es
                insaciable, convirtiéndolo en el compañero perfecto para una familia en constante movimiento.
                Su amistosa naturaleza lo hace congeniar fácilmente con humanos y otros perros, añadiendo alegría
                a cualquier entorno. Con una inteligencia notable y una disposición juguetona, Max siempre está listo
                para embarcarse en nuevas aventuras y brindar momentos inolvidables a su familia.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            <a href=""> <!-- *Link al perro -->
                <button type="button" class="btn btn-primary">Not Exit</button> 
            </a>
        </div>
        </div>
    </div>
</div>

<!-- *Modal perro 3 -->
<div class="modal fade" id="modalPerro3" tabindex="-1" aria-labelledby="modalPerro3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalPerro3">Kintaro</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="../static/img/Mascotas/Perros/Kintaro.png" alt="100" height="300" width="470">
            <hr>
            <p id="modalText">
                <li>Raza: Shiba Inu</li>
                <li>Sexo: Hembra</li>
                <li>Estado: Esterilizada</li>
                <br>
                Kintaro, la Shiba Inu, es una compañera leal, independiente e inteligente. Aunque al principio puede
                ser reservada, una vez que confía en ti, su lealtad es inquebrantable. Disfruta de desafíos mentales
                y momentos juguetones con su familia humana, lo que la convierte en una compañera amorosa y entretenida
                para toda la vida.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            <a href=""> <!-- *Link al perro -->
                <button type="button" class="btn btn-primary">Not Exit</button> 
            </a>
        </div>
        </div>
    </div>
</div>

<!-- *Modal perro 4 -->
<div class="modal fade" id="modalPerro4" tabindex="-1" aria-labelledby="modalPerro4" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalPerro4">Oscar</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="../static/img/Mascotas/Perros/Oscar.png" alt="100" height="300" width="470">
            <hr>
            <p id="modalText">
                <li>Raza: Pug</li>
                <li>exo: Macho</li>
                <li>Estado: Sin Esterilizar</li>
                <br>
                Oscar, el Pug, es conocido por su naturaleza cariñosa, juguetona y leal, convirtiéndolo en un miembro
                perfecto para cualquier familia. Su amor por las actividades familiares lo hace disfrutar tanto de
                los momentos de juego como de los momentos de relajación. Su amigable disposición lo hace llevarse
                bien con todos los miembros del hogar, tanto humanos como mascotas. En resumen, Oscar es el compañero
                ideal para aquellos que buscan un perro lleno de amor y diversión en sus vidas.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            <a href=""> <!-- *Link al perro -->
                <button type="button" class="btn btn-primary">Not Exit</button> 
            </a>
        </div>
        </div>
    </div>
</div>

<!-- *Modal perro 5 -->
<div class="modal fade" id="modalPerro5" tabindex="-1" aria-labelledby="modalPerro5" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalPerro5">Zatanna</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="../static/img/Mascotas/Perros/Presto.png" alt="100" height="300" width="470">
            <hr>
            <p id="modalText">
                <li>Raza: Jack Russell Terrier</li>
                <li>Hembra</li>
                <li>Esterilizada</li>
                <br>
                Zatanna, la Jack Russell Terrier, es una compañera llena de energía y valentía, siempre lista para
                cualquier aventura que se presente. Su inteligencia y amabilidad la convierten en una opción ideal
                para aquellos que desean un perro activo y leal que esté listo para compartir todo tipo de experiencias
                emocionantes y divertidas.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            <a href=""> <!-- *Link al perro -->
                <button type="button" class="btn btn-primary">Not Exit</button> 
            </a>
        </div>
        </div>
    </div>
</div>

<!-- *Modal perro 6 -->
<div class="modal fade" id="modalPerro6" tabindex="-1" aria-labelledby="modalPerro6" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalPerro6">Rockie</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <img src="../static/img/Mascotas/Perros/Rocki.png" alt="100" height="300" width="470">
            <p id="modalText">
                <li>Raza: Boxer</li>
                <li>Macho</li>
                <li>Por Esterilizar</li>
                <br>
                Rockie, el Boxer, es una mezcla perfecta de energía y afecto, siempre ansioso por jugar y
                explorar al aire libre. Su devoción hacia su familia es inquebrantable, y su amabilidad lo
                hace querido por todos. Como un compañero atlético y amoroso, Rockie es el compañero ideal
                para cualquier persona que busque un perro activo y cariñoso.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            <a href=""> <!-- *Link al perro -->
                <button type="button" class="btn btn-primary">Not Exit</button> 
            </a>
        </div>
        </div>
    </div>
</div>
<!-- TODO: Fin Modal Perritos -->
<!-- TODO: Inicio Modal Gatitos -->
<!-- *Modal Gato 1 -->
<div class="modal fade" id="modalGato1" tabindex="-1" aria-labelledby="modalGato1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalGato1">Eustaquio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="../static/img/Mascotas/Gatos/Eustaquio.jpg" alt="100" height="300" width="470">
                <hr>
                <p id="modalText">
                    <li>Raza: Naranjo-Atigrado</li>
                    <li>Sexo: Macho</li>
                    <li>Estado: Sin Esterilizar</li>
                    <br>
                    Esutaquio es un cachorro de gato naranjo con una personalidad encantadora y juguetona.
                    Es curioso por naturaleza y siempre está investigando cada rincón de su hogar con gran
                    entusiasmo. Su espíritu aventurero lo lleva a descubrir nuevos juguetes y rincones para
                    explorar. Aunque es travieso y activo, también es increíblemente cariñoso y le encanta
                    recibir mimos y caricias de su familia humana. Esutaquio es el compañero perfecto para
                    aquellos que buscan un gatito lleno de energía y amor para compartir.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>

<!-- *Modal Gato 2 -->
<div class="modal fade" id="modalGato2" tabindex="-1" aria-labelledby="modalGato2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalGato2">Whiskers</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="../static/img/Mascotas/Gatos/Whiskers.jpg" alt="100" height="300" width="470">
                <hr>
                <p>
                    <li>Raza: Persa</li>
                    <li>Sexo: Macho</li>
                    <li>Estado: Esterilizado</li>
                    <br>
                    Whiskers es un gato Persa majestuoso y tranquilo, conocido por su elegancia y su pelaje
                    exuberante. Es un compañero sereno y afectuoso que disfruta de largas siestas al sol y
                    momentos de tranquilidad en el regazo de su familia. Aunque su personalidad es suave,
                    Whiskers también tiene sus momentos de juego y curiosidad, especialmente cuando se trata
                    de juguetes que estimulan su instinto cazador. Con su carácter tranquilo y su naturaleza
                    cariñosa, Whiskers es el compañero perfecto para aquellos que buscan la compañía de un
                    gato refinado y amoroso.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>

<!-- *Modal Gato 3 -->
<div class="modal fade" id="modalGato3" tabindex="-1" aria-labelledby="modalGato3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalGato3">Luna</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="../static/img/Mascotas/Gatos/Luna.jpg" alt="100" height="300" width="470">
                <hr>
                <p id="modalText">
                    <li>Raza: Gris-Atigrado</li>
                    <li>Sexo: Hembra</li>
                    <li>Estado: Esterilizada</li>
                    <br>
                    Luna es una gata gris llena de encanto y misterio. Su pelaje suave y plateado resalta
                    su elegancia natural. Es una compañera tranquila y observadora, que disfruta de largos
                    ratos contemplando su entorno. Aunque puede ser reservada al principio, Luna se muestra
                    cariñosa y leal una vez que establece un vínculo de confianza. Disfruta de momentos de
                    juego delicados y de la comodidad de un regazo cálido. Con su gracia y afecto, Luna
                    ilumina cualquier hogar y se convierte en una compañera fiel para aquellos que buscan la
                    serenidad y el amor de un gato.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>

<!-- *Modal Gato 4 -->
<div class="modal fade" id="modalGato4" tabindex="-1" aria-labelledby="modalGato4" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalGato4">Nala</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="../static/img/Mascotas/Gatos/Nala.jpeg" alt="100" height="300" width="470">
                <hr>
                <p id="modalText">
                    <li>Raza: Gato-Europeo</li>
                    <li>exo: Hembra</li>
                    <li>Estado: Sin Esterilizar</li>
                    <br>
                    Nala es una gata Europea llena de gracia y curiosidad. Su pelaje suave y su mirada
                    penetrante reflejan su naturaleza elegante y astuta. Es una compañera juguetona y 
                    cariñosa, siempre lista para explorar su entorno y participar en actividades divertidas.
                    Aunque puede ser independiente, Nala demuestra un afecto profundo hacia su familia humana,
                    buscando siempre su compañía y caricias. Con su encanto y afecto, Nala se convierte en una
                    compañera encantadora y leal para aquellos que buscan la compañía de un gato inteligente
                    y amoroso.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>

<!-- *Modal Gato 5 -->
<div class="modal fade" id="modalGato5" tabindex="-1" aria-labelledby="modalGato5" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalGato5">Oliver</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="../static/img/Mascotas/Gatos/Oliver.jpg" alt="100" height="300" width="470">
                <hr>
                <p id="modalText">
                    <li>Raza: Maine Coon</li>
                    <li>Macho</li>
                    <li>Por Esterilizar</li>
                    <br>
                    Oliver es un majestuoso Maine Coon, con un pelaje exuberante y una presencia imponente.
                    Es un compañero amigable y afectuoso, que disfruta de la compañía de su familia humana.
                    Aunque puede parecer independiente, Oliver demuestra un profundo afecto hacia quienes lo
                    rodean y disfruta de momentos de juego y caricias. Con su encanto y su naturaleza gentil,
                    Oliver se convierte en un compañero leal y amoroso para aquellos que buscan la compañía de
                    un gato magnífico y afectuoso.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>

<!-- *Modal Gato 6 -->
<div class="modal fade" id="modalGato6" tabindex="-1" aria-labelledby="modalGato6" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalGato6">Sebastian</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="../static/img/Mascotas/Gatos/Sebastian.png" alt="100" height="300" width="470">
                <p id="modalText">
                    <li>Raza: Birmano</li>
                    <li>Macho</li>
                    <li>Esterilizado</li>
                    <br>
                    Sebastian es un elegante gato Birmano, conocido por su gracia y encanto. Es un compañero
                    cariñoso y tranquilo, que disfruta de largos momentos de tranquilidad junto a su familia
                    humana. Aunque puede ser reservado al principio, una vez que establece un vínculo de confianza,
                    demuestra un afecto profundo y leal. Sebastian es el compañero perfecto para aquellos que
                    buscan la compañía de un gato refinado y afectuoso.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>
<!-- TODO: Fin Modal Gatitos -->
<script src="{% static 'js/funcion.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>